body {
    font-family: 'Poppins', sans-serif;
}
main {
    min-height: 100vh;
     /* a altura mínima desse main vai ser 100% do viwer height */
    
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #DADFE8;
}

.pokedex {
    display: flex;
    gap: 30px; 
    /* gap é uma propriedade que me diz que vou ter um espaçamento entre os elementos filhos da classe pokedex, utilizado junto com a propriedade display */
    padding: 30px 0;
}